



body {
    background-color: rgb(36, 47, 55);
}

h1 {
        line-height: 35px;
    color: rgb(148, 190, 31);
    margin-right: 15px;
    display: block;
    font-family: Heebo-bold, "Arial Black", sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 5vh 8vw 6vh;
}